<div class="app-background">
    <div class="navbar app-title">
        <a class="navbar-brand" href="#">Resume Building Platform</a>
    </div>
    <!-- Login Card -->
    <div class="auth-body">
        <div class="login-panel">
            <div class="login-card">
                <div class="login-captions">
                    <div class="login-title">Log In</div>
                    <div class="login-subtitle">Enter Your Login Details</div>
                </div>
                
                <!-- Login Form -->
                <form class="login-form">
                    <div class="form-inputs">
                        <div class="grey-area">
                            <div class="input-section">
                                <!-- <label class="form-labels">
                                    <div class="form-input-label">Email</div>
                                </label> -->
                                <div class="form-input-fields">
                                    <input type="email" name="email" class="form-input-text" value placeholder="Email">
                                    <div in="exited" class="input-hightlight"></div>
                                </div>
                                <div in="exited" class="grey-hightlight"></div>
                                <div in="exited" class="grey-hightlight"></div>

                                <div class="form-labels"></div>
                                <div class="form-input-fields">
                                    <input type="password" name="password" class="form-input-text" value placeholder="Password">
                                    <div in="exited" class="input-hightlight"></div>
                                </div>
                                <div in="exited" class="grey-hightlight"></div>
                                <div in="exited" class="grey-hightlight"></div>

                            </div>
                            
                        </div>
                    </div>
                    <div class="form-footer">
                        <span class="back-button" (click)="goBack()">Back</span>
                        <div class="continue-div">
                            <button type="submit" class="continue-button">Continue</button>
                        </div>
                    </div>
                </form>
                <!-- <div class="login-div">
                    <div class="login-options">
                        <div class="login-buttons">
                            <a href="#" class="facebook btn">
                                <span class="facebook-span">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#3B5998"
                                            d="M9.73 6.486v2.478H8v3.03h1.73l.013 8.506h3.552l-.014-8.505h2.384s.223-1.453.331-3.042h-2.701V6.881c0-.31.387-.726.77-.726H16V3h-2.631c-3.728 0-3.64 3.033-3.64 3.486z">
                                        </path>
                                    </svg>
                                </span>
                                Facebook
                            </a>
                        </div>
                        <div class="login-buttons">
                            <a href="#" class="google btn">
                                <span class="google-span">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#DB4A39"
                                            d="M12.0946 10.6044V13.3715C12.0946 13.3715 14.8194 13.3661 15.9324 13.3661C15.3293 15.1569 14.3973 16.1332 12.0946 16.1332C9.7644 16.1332 7.94965 14.2777 7.94965 11.9853C7.94965 9.6928 9.7699 7.83725 12.0946 7.83725C13.3282 7.83725 14.1231 8.26335 14.8523 8.8567C15.4389 8.27955 15.3896 8.19865 16.8754 6.8178C15.6144 5.69045 13.9367 5 12.1 5C8.17995 5 5 8.1285 5 11.9853C5 15.842 8.17995 18.9705 12.1 18.9705C17.961 18.9705 19.3919 13.9487 18.9149 10.6044C17.5278 10.6044 12.0946 10.6044 12.0946 10.6044Z">
                                        </path>
                                    </svg>
                                </span>
                                Google
                            </a>
                        </div>
                        <div class="login-buttons">
                            <a href="#" class="linkedin btn">
                                <span class="linkedin-span">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill="#0077B5"
                                            d="M7.86 7.704V18.5H4.214V7.704H7.86zm.24-3.34c0 1.037-.792 1.867-2.063 1.867h-.023C4.791 6.23 4 5.4 4 4.365 4 3.306 4.815 2.5 6.061 2.5c1.247 0 2.015.806 2.038 1.865zM21 12.31v6.19h-3.644v-5.776c0-1.45-.527-2.44-1.846-2.44-1.007 0-1.606.667-1.87 1.311-.096.231-.12.553-.12.876V18.5H9.876s.048-9.783 0-10.796h3.644v1.53c.484-.735 1.35-1.783 3.285-1.783C19.202 7.45 21 8.994 21 12.31z">
                                        </path>
                                    </svg>
                                </span>
                                LinkedIn
                            </a>
                        </div>
                        <div class="login-buttons">
                            <a href="/auth/login" class="email btn btn-outline-primary">
                                <span class="email-span">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M4.0001 6c-.5523 0-1 .4477-1 1v11c0 .5523.4477 1 1 1h16c.5523 0 1-.4477 1-1V7c0-.5523-.4477-1-1-1h-16zm1 4.2296V17h14v-6.7704l-6.4785 4.2956a.9997.9997 0 0 1-1.0429 0l-6.4786-4.2956zM18.7501 8h-13.5l6.75 4.5 6.75-4.5z">
                                        </path>
                                    </svg>
                                </span>
                                Email
                            </a>
                        </div>
                    </div>
                    <div class="sign-up">
                        Not registered? <a routerLink="sign-up">Sign Up</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>