<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#" aria-label="Product">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      </a>
      <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
    </nav>
  </header>

  <!--Landing Page for Resume Building Platform
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal"><a href="#">Resume Building Platform</a></p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="#">Resumes</a>
    <a class="p-2 text-dark" href="#">Cover Letters</a>
    <a class="p-2 text-dark" href="#">Offer Letters</a>
    <a class="p-2 text-dark" href="#">FAQs</a>
  </nav>
  
  <button type="button" class="btn btn-primary">Sign Up</button>
</header>

<main class="container">
  <div class="landing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-dark text-center">
    <h1>Only 2% of resumes make it past the first round. Be in the top 2%</h1>
    <p class="lead">Quickly build a professional, stylish and functional resume in a matter of seconds!!</p>

    <button type="button" class="btn btn-primary btn-lg">Create A Resume Now</button>
  </div>

 <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
   <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden">
     <div class="my-3 py-3">
       <h2 class="display-5">Easily Create a Job Worthy Resume That Gets You Hired</h2>
     </div>

   </div>
   <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
 </div>
</main>
-->
