<div class="signup-body">
    <div class="signup-nav-container">
        <a href=""> <span class="app-logo">Resume Building Platform</span></a>
        <div class="signup-progress-nav-container">
            <div class="signup-progress-nav-inner-container">
                <div class="signup-nav-item">
                    <div class="item-one">1</div>
                    <div class="choose-template-div">Choose Template</div>
                </div>
                <div class="signup-nav-item">
                    <div class="item-two">2</div>
                    <div class="enter-details">Enter your Details</div>
                </div>
                <div class="signup-nav-item">
                    <div class="item-three">3</div>
                    <div class="download-resume">Download Resume</div>
                </div>
            </div>
        </div>
        <!-- close sign up div -->
        <div class="signup-close">
            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.5857864,12 L3.79289322,5.20710678 L5.20710678,3.79289322 L12,10.5857864 L18.7928932,3.79289322 L20.2071068,5.20710678 L13.4142136,12 L20.2071068,18.7928932 L18.7928932,20.2071068 L12,13.4142136 L5.20710678,20.2071068 L3.79289322,18.7928932 L10.5857864,12 Z">
                </path>
            </svg>
        </div>
    </div>

    <!-- sign up play area -->
    <div class="signup-play-area">
        <div class="signup-play-area-inner-div">
            <div class="signup-play-inner">
                <div class="signup-iqypzt">
                    <div class="signup-ektalt">
                        <div class="signup-cicuqu">
                            <div class="signup-ebtnoc">
                                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="signup-hkisqx">
                                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z">
                                    </path>
                                </svg>
                            </div>

                            <div class="slick-slider slick-initialized" dir="ltr">
                                <div class="slick-list" style="padding: 0px 50px; height: 434px;"> 
                                    <div class="slick-track" style="width: 25056px; opacity: 1; transform: translate3d(-4331.5px, 0px, 0px);">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>