<!-- old user app view -->
<!-- 
<div>
    <div class="app-content">
        <div class="app-navbar">
            <div class="app-nav">
                <a class="app-nav-link" href="#">
                    <span class="app-logo">Resume Building Platform</span>
                </a>
                <div class="app-nav-items">
                    <div class="app-navbar-tabs-container">
                        <div class="navbar-dashboard-container">
                            <a aria-current="page" class="navbar-menu-link--active navbar-dashboard"
                                href="">Dashboard</a>
                        </div>
                    </div>
                    <div class="navbar-pipe"></div>
                    <div class="navbar-user-tab">
                        <div class="navbar-user-container">
                            <div class="navbar-user">{{ userName }}</div>
                            <div class="navbar-user-options-caret dropdown" (click)="accountOptions()">
                                <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="navbar-user-caret-options-container" id="account">
                                <div class="misc-options caret-options">
                                    <p>Hello World</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app">
            <div class="app-body">
                <div class="app-body-content">
                    <div class="app-body-content-page-title">Dashboard</div>
                    <div class="app-body-content-tab-container">
                        <div class="app-body-content-tab-master">
                            <div class="app-body-content-tab-1">Resumes</div>
                            <div class="app-body-content-tab-2">Cover Letters</div>
                            <div width="66.9749984741211" offset="0" class="active-state"></div>
                        </div>
                        <button class="create-new">
                            <svg width="20" height="20" viewBox="0 0 20 20" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" class="create-new-icon">
                                <path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4V5z"></path>
                            </svg>
                            Create New</button>
                    </div>

                    Resumes
                    <div class="resumes-section">
                        <div style="position: relative;">
                            <div class="resume-column">
                                <div class="resmue-to-edit">
                                    <p>Editable Resume</p>
                                </div>
                                <div class="resume-controls"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
-->

<!-- New user view -->
<!-- Responsive Nav bar -->
<div class="app-nav">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Resume Building Platform</label>

        <!-- nav elements -->
        <ul>
            <li><a class="active" href="#">Dashboard</a></li>
            <li>{{userName}}</li>
            <li>Dropdown menu</li>
        </ul>
    </nav>
</div>

<!-- end of responsive nav -->

<div class="app-section">
    <div class="app">
        <div class="app-playarea">
            <div class="app-dashboard-container">Dashboard</div>
            <div class="app-playarea-tabs">
                <div class="app-playarea-tab-headers">
                    <div class="resumes-tab">Resumes</div>
                    <div class="cover-letters-tab">Cover Letters</div>
                    <!-- Dynamic Active line -->
                </div>
                <button class="create-new-btn">
                    <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        class="icon">
                        <path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4V5z"></path>
                    </svg>
                    Create New
                </button>
            </div>
            <button class="new-resume-btn">
                <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    class="icon">
                    <path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4V5z"></path>
                </svg>
                New Resume
            </button>

            <!-- Content switching area -->
            <div class="resume-container">
                <div style="position: relative;">
                    <div class="resume-playarea-container">
                        <div class=resume-image-container>
                            <a>Image Link to Edit Resume
                                <div class="resume-template-image-container">
                                    <div class="resume-template-image">
                                        <div class="edit-resume-svg-icon">
                                            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.695 15.117l6.531-6.344L15.5 6l-6.625 6.296 2.82 2.82zM10.27 16.52l-2.828-2.829-.446.446v2.828h2.829l.445-.445zm2.122.707l-1.415 1.414a1 1 0 0 1-.63.29H6.116c-.612.047-1.132-.306-1.085-.917v-4.4a1 1 0 0 1 .29-.63l2.12-2.121.018.017 6.909-6.578a1.6 1.6 0 0 1 2.263 0l3.292 3.338a1.6 1.6 0 0 1 0 2.263l-7.531 7.324z">
                                                </path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="resume-controls-container">
                            <div class="resume-title-control-container">
                                <div class="resume-title-control-outerDiv">
                                    <div class="resume-title-edit-link-container">
                                        <a class="resume-title-edit-link">Resume Title</a>
                                        <div class="rename-title-icon-container">
                                            <div class="rename-title-caption-area">
                                                <div class="rename-title-caption">
                                                    <div>Rename</div>
                                                </div>
                                                <div class="rename-title-svg-icon">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M11.695 15.117l6.531-6.344L15.5 6l-6.625 6.296 2.82 2.82zM10.27 16.52l-2.828-2.829-.446.446v2.828h2.829l.445-.445zm2.122.707l-1.415 1.414a1 1 0 0 1-.63.29H6.116c-.612.047-1.132-.306-1.085-.917v-4.4a1 1 0 0 1 .29-.63l2.12-2.121.018.017 6.909-6.578a1.6 1.6 0 0 1 2.263 0l3.292 3.338a1.6 1.6 0 0 1 0 2.263l-7.531 7.324z">
                                                        </path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div in="exited" class="jFnIcF"></div>
                                </div>
                            </div>

                            <div class="resume-update-control-container">
                                <div class="resume-update-control-time">
                                    Updated 17th January, 17:00
                                </div>
                            </div>

                            <a class="edit-resume-control-link-container">
                                <div class="edit-resume-control-link-svg">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.695 15.117l6.531-6.344L15.5 6l-6.625 6.296 2.82 2.82zM10.27 16.52l-2.828-2.829-.446.446v2.828h2.829l.445-.445zm2.122.707l-1.415 1.414a1 1 0 0 1-.63.29H6.116c-.612.047-1.132-.306-1.085-.917v-4.4a1 1 0 0 1 .29-.63l2.12-2.121.018.017 6.909-6.578a1.6 1.6 0 0 1 2.263 0l3.292 3.338a1.6 1.6 0 0 1 0 2.263l-7.531 7.324z">
                                        </path>
                                    </svg>
                                </div>
                                Edit
                            </a>
                            <div class="edit-resume-control-link-container">
                                <div class="edit-resume-control-link-svg">
                                    <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9,6 L9,13 L7.20376823,13 L12,18.4814077 L16.7962318,13 L15,13 L15,6 L9,6 Z M7,11 L7,5 C7,4.44771525 7.44771525,4 8,4 L16,4 C16.5522847,4 17,4.44771525 17,5 L17,11 L19,11 C19.8591588,11 20.3183367,12.0119217 19.7525767,12.6585046 L12.7525767,20.6585046 C12.3541654,21.1138318 11.6458346,21.1138318 11.2474233,20.6585046 L4.24742331,12.6585046 C3.68166327,12.0119217 4.14084119,11 5,11 L7,11 Z">
                                        </path>
                                    </svg>
                                </div>
                                Download
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>